In [1]:
import pandas as pd
import numpy as np

# Loading the dataset

In [2]:
df=pd.read_csv('Titanic-Dataset.csv')

# Handling Null Values

In [3]:
# Check for null values (1 line)
df.isnull().sum()
# Fill null values for 'Embarked' with the mode(1 line)
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])
# Drop rows with null values in 'Cabin' (or alternatively, you can fill it with a placeholder) (1 line)
df=df.dropna(subset=['Cabin'])

# Handling Duplicates

In [4]:
# Check for duplicates (1 line)
df.duplicated().sum()

# Drop duplicates if any (1 line)

df2=df.drop_duplicates()

# Handling Outliers

In [5]:
import numpy as np

# Function to remove outliers using the IQR method
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers from 'Fare' using the remove_outilers function (1 line)

df = remove_outliers(df, 'Fare')

# Scaling and Normalization

In [6]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard scaling for 'Fare' (2 lines)
scaler = StandardScaler() # نسوي استيراد
df['Fare_scaked'] = scaler.fit_transform(df[['Fare']])

# Min-Max scaling for 'Age' (2 lines)
scaler = MinMaxScaler()
df['Age_scaled'] = scaler.fit_transform(df[['Age']])

# Encoding Categorical Variables

In [7]:
# One-hot encoding for 'Embarked' and 'Sex' (1 line)
df = pd.get_dummies(df, columns=['Embarked', 'Sex'])